<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat - Welcome</title>
</head>

<style>
    .chat {
        width: 600px;
        height: 400px;
        background: cornflowerblue;
        margin: 50px;
    }

    .admin {
        color: red;
        font-weight: bold;
    }
</style>

<body>
<!--One way to get the username-->
<h1>Welcome <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h1>

<!--Another way, from Thymeleaf docs-->
<h2>Username: <span sec:authentication="name"></span></h2>
<h2>Role: <span sec:authentication="principal.authorities"></span></h2>


<div>
    <p>
        The following info is only shown if you're admin:
    </p>
    <!--    Show info for only admins-->
    <p class="admin" sec:authorize="hasRole('ROLE_ADMIN')">
        * This is only shown for admins
    </p>

    <!--    Another way to show only to specified role-->
    <p class="admin" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ">
        * This is shown only to admins using if-clause
    </p>
</div>

<div class="chat">
    <h2>This is some kind of chat window</h2>
</div>

<form method="post" th:action="@{/logout}">
    <input type="submit" value="Sign Out"/>
</form>
</body>

</html>

