<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Admin - Welcome</title>
</head>
<body>
<h1>Admin Console</h1>
<h2>Add New Admin-User</h2>

<form method="post" action="createAdmin">
<input type="text" name="username">
<input type="password" name="password">
<input type="submit" value="Add admin-user">
</form>


<ul th:each="user: ${listOfAdmins}" >
    <li th:text="${user.username}"></li>
    <li th:text="${user.getUserRoles()}"></li>
</ul>


<form method="post" th:action="@{/logout}">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
